@import '../../sass/variables';
@import '../../sass/mixins';

.main-header {
  background-color: $colorWhite;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include border-bottom($colorGreyLight-2);

  @media only screen and (max-width: $bp-xsmall) {
    flex-wrap: wrap;
    height: 12rem;
    align-content: space-around;
  }
}

.logo {
  margin-left: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
}
